* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../font/titilliumweb-black.woff2') format('woff2'),
         url('../font/titilliumweb-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../font/titilliumweb-bold.woff2') format('woff2'),
         url('../font/titilliumweb-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../font/titilliumweb-semibold.woff2') format('woff2'),
         url('../font/titilliumweb-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../font/titilliumweb-regular.woff2') format('woff2'),
         url('../font/titilliumweb-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../font/titilliumweb-light.woff2') format('woff2'),
         url('../font/titilliumweb-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: whitesmoke;
    font-family: TitilliumWeb, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h1 {
    font-family: TitilliumWeb, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
}
h2 {
    font-family: TitilliumWeb, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}
h3, h4, h4, h6 {
    font-family: TitilliumWeb, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
}
input, textarea {
    font-family: TitilliumWeb, Arial, Helvetica, sans-serif;
    font-weight: 300;
}
img {
    width: 100%;
    max-width: 430px;
    height: auto;
}
video {
    width: 100%;
    max-width: 940px;
    height: auto;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}
h1, h2, ul, #top-section, figcaption, footer, div, span, td, a {
    text-align: center;
}
#main-header {
    height: 388px;
}
#home #main-header { /* header image for home */
    background: url("assets/images/header-image-OKDQWS-lossy.jpg") center / cover no-repeat;
}
#images #main-header { /* header image for images */
    background: url("assets/images/header-image-HUIDQP-lossy.jpg") center / cover no-repeat;
}
#contact #main-header { /* header image for contact */
    background: url("assets/images/header-image-NJKCAS-lossy.jpg") center / cover no-repeat;
}
#header-overlay {
    height: 320px;
    background-color: rgb(0 0 0 / 60%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
}
#message-sent #header-overlay {
    background-color: rgb(0 0 0);
}
#header-overlay h1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    color: #fff;
}
@media screen and (max-width: 1440px) {
    #header-overlay h1 {
        font-size: 3rem;
        padding: .5rem;
    }    
}
@media screen and (max-width: 425px) {
    #header-overlay h1, #home #header-overlay h1, #contact #header-overlay h1 {
        font-size: 2.8rem;
    }    
}
@media screen and (max-width: 375px) {
    #header-overlay h1, #home #header-overlay h1, #contact #header-overlay h1 {
        font-size: 2.4rem;
    }    
}
@media screen and (max-width: 320px) {
    #header-overlay h1, #home #header-overlay h1, #contact #header-overlay h1 {
        font-size: 2rem;
        letter-spacing: 2px;
    }    
}
nav {
    background-color: #000000;
}
nav ul {
    margin: 0 auto;
}
nav li {
    line-height: 2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
nav li a {
    display: block;
    padding: .5rem 1rem;
    border: 10px solid #000000;
    border-radius: 15px;
}
@media screen and (min-width: 769px) {
    nav li {
        padding: 0 3rem;
    }
}
@media screen and (max-width: 768px) {
    nav li {
        padding: 0 2rem;
    }
}
@media screen and (max-width: 425px) {
    nav li {
        padding: 0;
    }
}
@media screen and (max-width: 375px) {
    nav li {
        font-size: 1rem;
    }
    nav li a {
        padding: .5rem .4rem;
    }
}
li a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
}
li a:hover {
    background-color: #ffffff;
    color: #000000;
}
#home nav .home, #images nav .images, #contact nav .contact {
    background-color: #ffffff;
    color: #000000;    
}
@media screen and (max-width: 425px) {
    li a {
        letter-spacing: 1px;
    }    
}
main {
    width: 80%;
    margin: 2rem auto 8rem;
    padding: 2rem 5rem;
}
#message-sent main {
    height: 40vh;
}
@media screen and (max-width: 1440px) {
    main {
        width: 100%;
        margin: 2rem auto;
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 425px) {
    main {
        padding: 2rem 0;
    }
}
article {
    margin: 1rem;
    padding: 1rem;
}
#contact article {
    margin: 1rem 5rem;
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    gap: 20px 0;
}
@media screen and (max-width: 768px) {
    #contact article {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 425px) {
    #contact article {
        margin: 0;
        padding: 1rem;
    }
}
@media screen and (max-width: 320px) {
    #contact article {
        padding: .5rem;
    }
}
@media screen and (max-width: 425px) {
    article {
        margin: 1rem 0;
    }
}
article > header {
    max-width: 60%;
    margin: 0 auto 2rem;
}
#contact article > header {
    grid-column: 1 / -1;
}
@media screen and (max-width: 768px) {
    article > header {
        max-width: 100%;
    }
}
header > h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 425px) {
    header > h2 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 320px) {
    header > h2 {
        font-size: 2rem;
    }
}
#home #top-section {
    margin: 0 0 5rem;
}
#home #top-section p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2rem;
}
#home section h2 {
    margin: 2rem 0;
    padding: 1rem;
    font-size: 2.4rem;
}
#home article {
    padding: 2rem;
}
#home #top-content {
    display: grid;
    grid-template-columns: 58% 38%;
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 0px;
    align-items: center;
    margin: 0 2rem;
    padding: 4rem 2rem;
}
#home #bottom-content {
    display: grid;
    grid-template-columns: 38% 58%;
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 0px;
    align-items: center;
    margin: 0 2rem;
    padding: 4rem 2rem;
}
@media screen and (max-width: 768px) {
    #home #top-content, #home #bottom-content {
        grid-template-columns: 1fr;
        grid-row-gap: 45px;
        margin: 0;
        padding: 2rem;
    }
    #bottom-content figure {
        order: 2;
    }
    #bottom-content section {
        order: 1;
    }
}
@media screen and (max-width: 425px) {
    #home #top-content, #home #bottom-content {
    padding: 0;
    }
}
#home h3, #home article > div p {
    text-align: left;
    margin: 0 0 1.6rem;
}
#home #top-content h3, #home #bottom-content h3 {
    font-size: 1.6rem;
}
#home #top-content p, #home #bottom-content p {
    font-size: 1.2rem;
}
#images section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: .2rem 0 1rem;
    gap: 1rem;
}
#contact section {
    padding-right: 8rem;
}
@media screen and (max-width: 1024px) {
    #contact section {
        padding-right: 0;
    }    
}
#contact aside {
    padding: 0 3rem;
}
@media screen and (max-width: 1024px) {
    #contact aside {
        padding: 0 0 0 3rem;
    }    
}
@media screen and (max-width: 768px) {
    #contact aside {
        padding: 0;
    }    
}
#images section > h2 {
    grid-column: 1 / -1;
    padding: 1rem;
    border-top-style: solid;
    font-weight: 500;
}
@media screen and (max-width: 480px) {
    #images section {
        grid-template-columns: 1fr;
    }
}
figure {
    text-align: center;
}
@media screen and (max-width: 425px) {
    #home figure video {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 768px) {
    #home #top-content img, #home #bottom-content img {
        width: 80%;
    }
}
@media screen and (min-width: 1024px) {
    #home #top-section video {
        width: 940px;
        height: 530px;
    }
}
figcaption {
    margin: 1rem 0 2rem;
}
#home section div {
    margin: 3rem 0;
}
#home div a {
    margin: 0 3rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    line-height: 60px;
}
@media screen and (max-width: 425px) {
    #home div a {
        margin: 1rem 3rem;
        padding: 0 1rem;
        display: block;
    }
}
article > span, footer > a {
    display: block;
    width: 100%;
    height: 3rem;
    padding: .6rem 1rem;
    margin: 0 auto;
    color: white;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.8rem;
    letter-spacing: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}
@media screen and (max-width: 425px) {
    article > span {
        letter-spacing: 3px;
        font-size: 1.2rem;
    }   
}
@media screen and (max-width: 375px) {
    article > span {
        letter-spacing: 1px;
        font-size: 1.1rem;
    }   
}
footer > a {
    width: 70%;
    height: 8rem;
    margin-top: 3rem;
    line-height: 7rem;
    font-size: 2rem;
    border-radius: 60% 0%;
    transform: skew(338deg, 0deg);
}
@media screen and (max-width: 768px) {
    footer > a {
        width: 100%;
    }    
}
@media screen and (max-width: 425px) {
    footer > a {
        width: 86%;
        height: 6rem;
        line-height: 5rem;
        font-size: 1.2rem;
        letter-spacing: 3px;
    }    
}
@media screen and (max-width: 375px) {
    footer > a {
        font-size: 1rem;
    }    
}
#contact article > footer {
    padding: 5rem 0 0;
    grid-column: 1 / -1;
}
#contact footer > h2 {
    margin-bottom: 2rem;
}
#main-footer {
    background-color: black;
    color: #ffffff;
    height: 60px;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
#main-footer p {
    text-align: left;
}
@media screen and (max-width: 425px) {
    #main-footer {
        grid-template-columns: 40% 60%;
        padding: 0 .5rem;
    }
    #main-footer p {
        font-size: .8rem;
    }
}
@media screen and (max-width: 320px) {
    #main-footer {
        grid-template-columns: 32% 68%;
    }  
}
#main-footer ul {
    text-align: right;
}
#main-footer li {
    margin: 0 .5rem;
    padding: 0 .5rem;
    font-size: .8rem;
}
@media screen and (max-width: 425px) {
    #main-footer li {
        margin: 0;
        padding: 0;
    }  
}
#main-footer a {
    padding: .5rem 1rem;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    #main-footer li a {
        margin: 0;
        padding: .5rem .7em;
    }    
}
@media screen and (max-width: 425px) {
    #main-footer li a {
        padding: .5rem .5em;
        text-transform: capitalize;
    }    
}
table {
    margin: 1rem auto 2rem;
    border-spacing: 15px;
}
@media screen and (max-width: 425px) {
    table {
        border-spacing: 10px;
    }
}
td {
    padding: 1.2rem 1.4rem;
    border: 1px #c4c4c4 solid;
    border-radius: 5px;
}
td.emtpy-td {
    border: none;
}
#contact h3 {
    font-size: 1.6rem;
}
#contact section > p {
    font-size: 1.1rem;
}
input {
    display: inline-block;
    width: 48%;
    margin: 1rem 0;
}
input#lname {
    float: right;
}
input[type="text"], input[type="email"], textarea {
    padding: 1rem;
}
input#email {
    width: 100%;
    margin-top: 0;
}
input[type="submit"] {
    width: 100%;
    padding: .4rem 0;
    background-color: #2196f3;
    color: #ffffff;
    font-size: 1.3rem;
}
input, textarea {
    border: 2px solid #2196f3;
    border-radius: 5px;
}
input[placeholder], textarea[placeholder] {
    font-size: 1rem;
}
#contact h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
#contact h5 {
    margin-bottom: 1.2rem;
    font-weight: 500;
    font-size: 1rem;
}
#instagram-embed-0 {
    margin: 0 auto!important;
    min-width: 300px!important;
}
#message-sent h2 {
        line-height: 2.5rem;
}