* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}
body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
#main-header {
    height: 388px;
}
#home #main-header { /* header image for home */
    background: url("/assets/images/header-image-OKDQWS.jpg") center / cover no-repeat;
}
#images #main-header { /* header image for images */
    background: url("/assets/images/header-image-HUIDQP.jpg") center / cover no-repeat;
}
#contact #main-header { /* header image for contact */
    background: url("/assets/images/header-image-HUIDQP.jpg") center / cover no-repeat;
}
#header-overlay {
    width: 100%;
    height: 324px;
    background-color: rgb(0 0 0 / 60%);
}
#header-overlay h1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 8.5rem;
}
@media screen and (max-width: 1440px) {
    #header-overlay h1 {
        font-size: 3rem;
        padding: 8.4rem;
    }    
}
@media screen and (max-width: 1024px) {
    #header-overlay h1 {
        padding: 6.7rem 14rem;
    }    
}
@media screen and (max-width: 768px) {
    #home #header-overlay h1 {
        font-size: 3rem;
        padding: 6.7rem 8rem;
    }    
}
@media screen and (max-width: 768px) {
    #header-overlay h1 {
        font-size: 3rem;
        padding: 5rem 8rem;
    }    
}
@media screen and (max-width: 425px) {
    #home #header-overlay h1 {
        font-size: 2.8rem;
        padding: 5.3rem 2rem;
    }    
}
@media screen and (max-width: 425px) {
    #header-overlay h1 {
        font-size: 2.8rem;
        padding: 5.3rem 2rem;
    }    
}
@media screen and (max-width: 375px) {
    #home #header-overlay h1 {
        padding: 7.4rem .5rem;
        font-size: 2.4rem;
    }    
}
@media screen and (max-width: 375px) {
    #header-overlay h1 {
        padding: 6rem .5rem;
        font-size: 2.4rem;
    }    
}
@media screen and (max-width: 320px) {
    #home #header-overlay h1 {
        padding: 6.7rem .5rem;
        font-size: 2rem;
        letter-spacing: 2px;
    }    
}
@media screen and (max-width: 320px) {
    #header-overlay h1 {
        padding: 6.7rem .5rem;
        font-size: 2rem;
        letter-spacing: 2px;
    }    
}
nav {
    background-color: #000000;
}
nav ul {
    margin: 0 auto;
    text-align: center;
}
nav li {
    line-height: 2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
nav li a {
    display: block;
    padding: .5rem 1rem;
    border: 10px solid #000000;
    border-radius: 15px;
}
@media screen and (min-width: 769px) {
    nav li {
        padding: 0 3rem;
    }
}
@media screen and (max-width: 768px) {
    nav li {
        padding: 0 2rem;
    }
}
@media screen and (max-width: 425px) {
    nav li {
        padding: 0;
    }
}
@media screen and (max-width: 375px) {
    nav li {
        font-size: 1rem;
    }
    nav li a {
        padding: .5rem .4rem;
    }
}
li a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
}
li a:hover {
    background-color: #ffffff;
    color: #000000;
}
@media screen and (max-width: 425px) {
    li a {
        letter-spacing: 1px;
    }    
}
main {
    width: 80%;
    margin: 2rem auto 8rem;
    padding: 2rem 5rem;
}
@media screen and (max-width: 1440px) {
    main {
        width: 100%;
        margin: 2rem auto;
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 425px) {
    main {
        padding: 2rem 0;
    }
}
article {
    margin: 1rem;
    padding: 1rem;
}
@media screen and (max-width: 425px) {
    article {
        margin: 1rem 0;
    }
}
article > header {
    max-width: 60%;
    margin: 0 auto 2rem;
}
@media screen and (max-width: 768px) {
    article > header {
        max-width: 100%;
    }
}
header > h2 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 1rem;
}
@media screen and (max-width: 425px) {
    header > h2 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 320px) {
    header > h2 {
        font-size: 2rem;
    }
}
#home #top-section {
    margin: 0 0 5rem;
    text-align: center;
}
#home #top-section p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2rem;
}
#home section h2 {
    margin: 2rem 0;
    padding: 1rem;
    font-size: 2.4rem;
}
#home article {
    padding: 2rem;
}
#home #top-content {
    display: grid;
    grid-template-columns: 58% 38%;
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 0px;
    align-items: center;
    margin: 0 2rem;
    padding: 4rem 2rem;
}
#home #bottom-content {
    display: grid;
    grid-template-columns: 38% 58%;
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 0px;
    align-items: center;
    margin: 0 2rem;
    padding: 4rem 2rem;
}
@media screen and (max-width: 768px) {
    #home #top-content, #home #bottom-content {
        grid-template-columns: 1fr;
        grid-row-gap: 45px;
        margin: 0;
        padding: 2rem;
    }
    #bottom-content figure {
        order: 2;
    }
    #bottom-content section {
        order: 1;
    }
}
@media screen and (max-width: 425px) {
    #home #top-content, #home #bottom-content {
    padding: 0;
    }
}
#home h3, #home article > div p {
    text-align: left;
    margin: 0 0 1.6rem;
}
#home #top-content h3, #home #bottom-content h3 {
    font-size: 1.6rem;
}
#home #top-content p, #home #bottom-content p {
    font-size: 1.2rem;
}
#images section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: .2rem 0 1rem;
    gap: 1rem;
}
#images section > h2 {
    grid-column: 1 / -1;
    padding: 1rem;
    border-top-style: solid;
    text-align: center;
    font-weight: 500;
}
@media screen and (max-width: 480px) {
    #images section {
        grid-template-columns: 1fr;
    }
}
figure img, figure video {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 425px) {
    #home figure video {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 768px) {
    #home #top-content img, #home #bottom-content img {
        width: 80%;
    }
}
@media screen and (min-width: 1024px) {
    #home #top-section video {
        width: 940px;
        height: 530px;
    }
}
figcaption {
    text-align: center;
    margin: 1rem 0 2rem;
}
#home section div {
    margin: 3rem 0;
}
div {
    text-align: center;
}
#home div a {
    margin: 0 3rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    line-height: 60px;
}
@media screen and (max-width: 425px) {
    #home div a {
        margin: 1rem 3rem;
        padding: 0 1rem;
        display: block;
    }
}
article > span, footer > a {
    display: block;
    width: 100%;
    height: 3rem;
    padding: .6rem 1rem;
    margin: 0 auto;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.8rem;
    letter-spacing: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}
@media screen and (max-width: 425px) {
    article > span {
        letter-spacing: 3px;
        font-size: 1.2rem;
    }   
}
@media screen and (max-width: 375px) {
    article > span {
        letter-spacing: 1px;
        font-size: 1.1rem;
    }   
}
footer > a {
    width: 70%;
    height: 8rem;
    margin-top: 3rem;
    line-height: 7rem;
    font-size: 2rem;
    border-radius: 60% 0%;
    transform: skew(338deg, 0deg);
}
@media screen and (max-width: 768px) {
    footer > a {
        width: 100%;
    }    
}
@media screen and (max-width: 425px) {
    footer > a {
        width: 86%;
        height: 6rem;
        line-height: 5rem;
        font-size: 1.2rem;
        letter-spacing: 3px;
    }    
}
@media screen and (max-width: 375px) {
    footer > a {
        font-size: 1rem;
    }    
}
#main-footer {
    background-color: black;
    color: #ffffff;
    height: 60px;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
@media screen and (max-width: 425px) {
    #main-footer {
        grid-template-columns: 40% 60%;
        padding: 0 .5rem;
    }
    #main-footer p {
        font-size: .8rem;
    }
}
@media screen and (max-width: 320px) {
    #main-footer {
        grid-template-columns: 32% 68%;
    }  
}
#main-footer ul {
    text-align: right;
}
#main-footer li {
    margin: 0 .5rem;
    padding: 0 .5rem;
    font-size: .8rem;
}
@media screen and (max-width: 425px) {
    #main-footer li {
        margin: 0;
        padding: 0;
    }  
}
#main-footer a {
    padding: .5rem 1rem;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    #main-footer li a {
        margin: 0;
        padding: .5rem .7em;
    }    
}
@media screen and (max-width: 425px) {
    #main-footer li a {
        padding: .5rem .5em;
        text-transform: capitalize;
    }    
}
table {
    margin: 1rem auto 2rem;
    border-spacing: 15px;
}
@media screen and (max-width: 425px) {
    table {
        border-spacing: 10px;
    }
}
td {
    padding: 1.2rem 1.4rem;
    text-align: center;
    border: 1px #c4c4c4 solid;
    border-radius: 5px;
}
td.emtpy-td {
    border: none;
}